 <div class="container clearfix">
   

    <div class="row rowSpacing well">

    <div class="col-lg-12" >
    <div class="btn-group" dropdown >
    <button id="split-button" type="button" class="buttonWidth btn">{{dropDownDepart}}</button>
    <button type="button" class="btn" dropdown-toggle>
    <span class="caret"></span>
    <span class="sr-only">Split button!</span>
    </button>

    <ul    class="dropdown-menu" role="menu" aria-labelledby="split-button">
    <li ng-repeat="depart in department track by $index" role="menuitem">
    <a ng-click="getChoiceDepart(depart)" href>{{depart}}</a></li>

    </ul>
    </div>

    <div class="btn-group" dropdown >
    <button id="split-button" type="button" class="buttonWidth btn">{{dropDownCat}}</button>
    <button type="button" class="btn" dropdown-toggle>
    <span class="caret"></span>
    <span class="sr-only">Split button!</span>
    </button>

    <ul    class="dropdown-menu" role="menu" aria-labelledby="split-button">
    <li ng-repeat="cat in category track by $index" role="menuitem">
    <a ng-click="getChoiceCat(cat)" href>{{cat}}</a></li>

    </ul>
    </div>

    <!-- 
    </div>
    <div class="col-lg-3"> -->
    <div class="btn-group" dropdown >
    <button id="split-button" type="button" class="buttonWidth btn">{{dropDownRep}}</button>
    <button type="button" class="btn" dropdown-toggle>
    <span class="caret"></span>
    <span class="sr-only">Split button!</span>
    </button>

    <ul    class="dropdown-menu" role="menu" aria-labelledby="split-button">
    <li ng-repeat="rep in uniqueRep track by $index" role="menuitem">
    <a ng-click="getChoiceRep(rep)" href>{{rep}}</a></li>

    </ul>
    </div>


    <div class="btn-group" dropdown >
    <button id="split-button" type="button" class="buttonWidth btn">{{dropDownCh}}</button>
    <button type="button" class="btn" dropdown-toggle>
    <span class="caret"></span>
    <span class="sr-only">Split button!</span>
    </button>

    <ul    class="dropdown-menu" role="menu" aria-labelledby="split-button">
    <li ng-repeat="ch in uniqueChan track by $index" role="menuitem">
    <a ng-click="getChoiceCh(ch)" href>{{ch}}</a></li>

    </ul>
    </div>

<div ng-click="performFilter()"  class="btn btn-primary"><b>Filter</b></div>
    <div ng-click="resetFilter()"  class="btn btn-danger"><b>Reset</b></div>

    </div>
    </div>

    <!-- Row Start -->
    <div class="row" >
            <div class="col-lg-12">
                <h3 class="textAlign"><b>Total Call Count&nbsp;<span class="label label-success">{{TotalCount}}</span>&nbsp;Between&nbsp;<span class="label label-default">{{date.startDate|date}}</span>&nbsp;And&nbsp;
                <span class="label label-default">{{date.endDate|date}}</span>
                </b></h3>
            </div>


     


    <div class="col-md-6">
    <div id="polarityChartWeekly"></div>
    </div>

    <div class="col-md-6">
    <div id="aggPieChartWeekly"></div>
    </div>


    </div> <!-- Row Ends -->
   


    <div class="row rowSpacing well" >
      <div class="col-lg-12">
        <h3 class="textAlign"><!-- <span class="label label-default">{{date.startDate|date}}</span>
        <span class="label label-default">{{date.endDate|date}}</span> -->
        
   
        <b class="textAlign">{{filterText}}</b>
        </h3>
    </div>
    <div class="col-lg-12">
    <div id="graphALLChartWeekly"></div> 
    </div>
    </div>
   
    <div class="row" >
     <div class="col-lg-12">   
    <h2 class="textAlign"><i class="fa fa-table"></i>&nbsp;<b>Sentiment Tabular Representation </b></h2>
        </div>
    <div class="col-lg-12">
    <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-condensed " style="  font-size: 12px;"   st-table="sentiDispData" st-safe-src="stSafeSenti" >

    <thead>
    <tr style="background: #fff;">
    <th st-sort="dept_id"><i class="fa fa-briefcase"></i> Department </th>
    <th st-sort="category_id"><i class="fa fa-briefcase"></i> Category </th>
    <th st-sort="channel"><i class="fa fa-briefcase"></i> Channel </th>


    <th st-sort="conv_id"><i class="fa fa-comment"></i> Rep Id </th>
    <th st-sort="Trust"><i class="fa fa-user-secret"></i> Trust </th>
    <th st-sort="Anticipation"><i class="fa fa-umbrella"></i> Anticipate </th>
    <th st-sort="Anger"><i class="fa fa-frown-o"></i> Anger </th>
    <th  st-sort="Disgust"><i class="fa fa-exclamation-circle"></i> Disgust</th>
    <th  st-sort="Fear"><i class="fa fa-heartbeat"></i> Fear</th>
    <th  st-sort="Joy"><i class="fa fa-child"></i> Joy</th>
    <th  st-sort="Sadness"><i class="fa fa-thumbs-down"></i> Sadness</th>
    <th  st-sort="Surprise"><i class="fa fa-gift"></i> Surprise</th>
    <th  st-sort="polnegpercent"><i class="fa fa-minus-square"></i> Pol -ve Percent</th>
    <th  st-sort="polpospercent"><i class="fa fa-plus-square"></i> Pol +ve Percent</th>
    <th  st-sort="file_time"><i class="fa fa-clock-o"></i> File TimeStamp</th>

     <!-- <tr colspan="5">
    <th><input class="alignInputWidth" st-search="dept_id" placeholder="Department"/></th>
    <th><input class="alignInputWidth" st-search="conv_id" placeholder="Conversation ID"/></th>
    <th><input class="alignInputWidth" st-search="Trust" placeholder="Trust"/></th>
    <th><input class="alignInputWidth" st-search="Anticipation" placeholder="Anticipation"/></th>
    <th><input class="alignInputWidth" st-search="Anger" placeholder="Anger"/></th>
    <th><input class="alignInputWidth" st-search="Disgust" placeholder="Disgust" /></th>
    <th><input class="alignInputWidth" st-search="Fear" placeholder="Fear" /></th>
    <th><input class="alignInputWidth" st-search="Joy" placeholder="Joy" /></th>
    <th><input class="alignInputWidth" st-search="Sadness" placeholder="Sadness"/></th>
    <th><input class="alignInputWidth" st-search="Surprise" placeholder="Surprise"/></th>
    <th><input class="alignInputWidth" st-search="polnegpercent" placeholder="Polarity -ve"/></th>
    <th><input class="alignInputWidth" st-search="polpospercent" placeholder="Polarity +ve"/></th>



    </tr> -->
    </tr>
    </thead>
    <tbody>  <!-- orderBy:sortType:sortReverse -->
    <tr  st-select-row="sent" st-select-mode="multiple" ng-repeat="sent in sentiDispData|orderBy:sortType:sortReverse">
    <td class="align ">{{sent.dept_id}}</td>
    <td class="align ">{{sent.category_id}}</td>
    <td class="align ">{{sent.channel}}</td>

    <td class="align ">{{sent.rep_id}}</td>
    <td class="align ">{{sent.Trust}}</td>
    <td class="align ">{{sent.Anticipation}}</td>
    <td class="align ">{{sent.Anger}}</td>
    <td class="align " >{{sent.Disgust}}</td>
    <td class="align ">{{sent.Fear}}</td>
    <td class="align " >{{sent.Joy}}</td>
    <td class="align ">{{sent.Sadness}}</td>
    <td class="align" >{{sent.Surprise}}</td>
    <td class="align">{{sent.polnegpercent}} %</td>
    <td class="align">{{sent.polpospercent}} %</td>
    <td>{{sent.file_time |date}} </td>
    </tr>



    </tbody>
    <tfoot>
    <tr>
    <td colspan="100%" class="text-center">
    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
    </td>
    </tr>
    </tfoot>

    </table>
    </div>
    </div>
    </div>



  </div>