<div class="container">
<div class="jumbotron loginPadding">
<div class="row">

<div class="col-lg-6 col-sm-6  col-md-6 col-xs-6 kohl">
	<img class="kohlImage" src="../images/images.jpg" />
</div>
<div class="col-lg-6">
<div class="login-form-1">
		<form id="login-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="lg_username" class="sr-only">Username</label>
						<input type="text" class="form-control" name="lg_username" placeholder="username" ng-model="login.username">
					</div>
					<div class="form-group">
						<label for="lg_password" class="sr-only">Password</label>
						<input type="password" class="form-control" name="lg_password" placeholder="password" ng-model="login.password">
					</div>
					 <div class="form-group login-group-checkbox">
						<input type="checkbox" id="lg_remember" name="lg_remember">
						<label for="lg_remember">remember</label>
					</div> 
				</div>
				<button type="submit" ng-click="authModal(login.username,login.password)" class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
				<p>forgot your password? <a href>click here</a></p>
				<p>new user? <a href>create new account</a></p>
			</div>
		</form>
	</div>

</div>

</div>

<div class="row" ng-show="alertShow">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="{{alertType}}" role="alert">
		<!--   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  <span aria-hidden="true">&times;</span></button> -->
		 	{{alertMessage}}
		</div>
	</div>
</div>
<!-- 
<div class="row" >
	<div class="col-lg-6 col-lg-offset-1">
		<div class="{{alertType}}" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  <span aria-hidden="true">&times;</span></button> 
		 	{{alertMessage}}
		</div>
	</div>
</div>
 -->
</div>
</div>


