/*Custom css Added by Siddharth*/
body,html
{
 -webkit-user-select: none;
 -moz-user-select: none;
  user-select: none;


}

.paddingBottom
{
  padding-bottom:2%;
}

.jumbotron p 
{
  font-size:18px;
}
b
{
  word-wrap: break-word;
}
pre
{
  overflow: scroll;
  height: 430px;
}

h2
{
  font-size:25px;
}

h3{
  font-size:20px;
}

.colorChange
{
  color:#4E4D5C !important;
  font-size: 15px;
  text-decoration: none;
}
.textAlign
{
  text-align: center;
}
.rowPadding{
  padding-top: 5%;
}

.rowBorderRound
{
  border :1px solid #8C8282;

}

.rowBorderPlayer
{
    border :3px solid #C5BFBF;
    padding-top: 5px;

}

.rowBorder
{
  border-top: 1px solid #8C8282;
  border-bottom: 1px solid #8C8282;
}

/*.jumbotron
{
  width:80%;
}
*/


.bgPunch
{
 /* background: #0283F7;*/
  color:white;
}

.bgPunch:hover
{
/*  background: #85BCED !important;
*/  color:white !important;
}
/*
.bgPunch:active
{
   background: #0283F7 !important;
  color:white !important;
}
*/



.tab-content
{
    border: 1px solid rgb(221, 221, 221);

}

.rowSpacing
{

}


.buttonWidth
{
  width:150px;
}
.containerPadding
{
  padding-top: 5%;
}
.containerSpacing
{
   padding-top:0%;
}


/*Ng-table Code*/

.pagination>.active>a
{
  background:#0283F7;
  color:white !important;

}
.pagination>li>a
{
  color: black !important;
  background: white;
}

.pagination>li>a:hover
{
  background: #0283F7 !important;
  color:white !important;
}




.align
{
   text-align: center;
}


.floatRight
{
  float:right;
  background: #222 !important;
  top:0px;

}







a:hover
{
  color: white !important;
  background: #0283F7 !important;
}


/* Below Code Is For nab Bar To Make 3 button toggle effect in place for  bootstrap*/


.addPadding
{
  /*padding-top: 0%;*/
}



/*.active
{
  background: #23527c !important;
}
*/
/*.scrollable{
    overflow: auto;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
}*/
.modal-backdrop.in
{
  opacity: 0.9;
}


/*Add Ripple Effect*/

/*.ripple {
   
    overflow: hidden;
    outline: none !important; /* remove dotted border */
}*/
/* .ripple:after 
 {
    content: "";
    background: rgba(255,255,255,0.3);
    display: block;
    position: absolute;
    border-radius: 50%;
    padding-top: 240%;
    padding-left: 240%;
    margin-top: -120%;
    margin-left: -120%;
    opacity: 0;
    transition: all 1s;
}
.ripple:active:after {
    padding-top: 0;
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    opacity: 1;
    transition: 0s;
}*/