
<div class="row">

<div class="col-lg-6 col-sm-5 col-xs-5 col-md-5">
<h2 style="padding-left: 15px;">{{clickedType}}</h2>
</div>
<div class="col-lg-5 col-sm-5 col-xs-5 col-md-5">
</div>
<div class="col-lg-1 col-sm-1 col-xs-1 col-md-1">
<h3><a href ng-click="hideModal()">X</a></h3> 
</div>
</div>
<div class="row">
<div class="col-lg-12" style="padding: 35px;  padding-bottom: 0;
  padding-top: 0;">
<table class="table table-striped table-hover table-condensed "  st-table="sentiDispDataDrilled" st-safe-src="stSafeSentiDrilled" >

<thead>
<tr style="font-size: 12px;">
<th st-sort="dept_id"><i class="fa fa-briefcase"></i> Department </th>
<th st-sort="category_id"><i class="fa fa-briefcase"></i> Category </th>
<th st-sort="channel"><i class="fa fa-briefcase"></i> Channel </th>

<th st-sort="conv_id"><i class="fa fa-comment"></i> Rep Id </th>
<th st-sort="Trust"><i class="fa fa-user-secret"></i> Trust </th>
<th st-sort="Anticipation"><i class="fa fa-umbrella"></i> Anticipate </th>
<th st-sort="Anger"><i class="fa fa-frown-o"></i> Anger </th>
<th  st-sort="Disgust"><i class="fa fa-exclamation-circle"></i> Disgust</th>
<th  st-sort="Fear"><i class="fa fa-heartbeat"></i> Fear</th>
<th  st-sort="Joy"><i class="fa fa-child"></i> Joy</th>
<th  st-sort="Sadness"><i class="fa fa-thumbs-down"></i> Sadness</th>
<th  st-sort="Surprise"><i class="fa fa-gift"></i> Surprise</th>
<th  st-sort="polnegpercent"><i class="fa fa-minus-square"></i> Pol -ve Percent</th>
<th  st-sort="polpospercent"><i class="fa fa-plus-square"></i> Pol +ve Percent</th>

</tr>
</thead>
<tbody>  <!-- orderBy:sortType:sortReverse -->
<tr  st-select-row="sent" st-select-mode="multiple" ng-repeat="sent in sentiDispDataDrilled |orderBy:valuesort" style="font-size: 10px;">
<td class="align ">{{sent.dept_id}}</td>
<td class="align ">{{sent.category_id}}</td>
<td class="align ">{{sent.channel}}</td>

<td class="align ">{{sent.rep_id}}</td>
<td class="align " ng-show="!sent.Trust.length">{{sent.Trust}}</td>
<td class="align " ng-show="!sent.Anticipation.length">{{sent.Anticipation}}</td>
<td class="align " ng-show="!sent.Anger.length">{{sent.Anger}}</td>
<td class="align " ng-show="!sent.Disgust.length">{{sent.Disgust}}</td>
<td class="align " ng-show="!sent.Fear.length">{{sent.Fear}}</td>
<td class="align " ng-show="!sent.Joy.length">{{sent.Joy}}</td>
<td class="align " ng-show="!sent.Sadness.length">{{sent.Sadness}}</td>
<td class="align"  ng-show="!sent.Surprise.length">{{sent.Surprise}}</td>
<td class="align" ng-show="!sent.polnegpercent.length">{{sent.polnegpercent}} %</td>
<td class="align" ng-show="!sent.polpospercent.length">{{sent.polpospercent}} %</td>
<!-- <td>{{sent.file_time |date}} </td> -->
</tr>
</tbody>
<tfoot>
<tr>
<td colspan="5" class="text-center">
<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
</td>
</tr>
</tfoot>

</table>
    <style>

        .modal-dialog {
            width: 94%;
        }
    </style>
</div>

</div>