<div class="jumbotron" style="  padding-top: 10px;">
    <div class="container">
        <div class="row">
            <h2><b>Call Drivers</b></h2>
            <tabset justified="false">
                <tab heading="Yesterday" data-ng-click="yesterdayCallDriverFunc();" >
                    <div class="row">

                        <div class="chart-navigator clearfix" id="yesterdaychart-navigator-1" style="display: none;">

                            <div class="col-md-10">
                                <div  style="float: left">
                                    <a href="#" class="btn btn-small" id="btnRoot" title="Go back to root" rel="tooltip"><i
                                            class="fa fa-bars"></i>
                                    </a>
                                    <a href="#" class="btn btn-small" id="btnLevelUp" title="Go up one level" rel="tooltip"><i
                                            class="fa fa-reply-all"></i></a>
                                </div>

                                <ul class="breadcrumb"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 40px">
                        <!--class="hierarchical-pie"-->
                        <div class="col-md-6"><div class="yesterdayhierarchical" ><div id="yesterdayhierarchical-pie-demo-1"></div></div></div>
                        <div class="col-md-6"><div id="yesterdaypie-chart-legend-1">
                            <table class="table table-condensed table-legend">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Category</th>
                                    <th>Count</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr data_id="26" class="legend-row-26">
                                    <td class="color-cell">
                                        <span class="cat-color" style="background: #1f77b4;"></span>
                                    </td>
                                    <td>

                                    </td>
                                    <td class="cost"></td>
                                </tr>

                                </tbody>
                            </table>
                            <script id="rowTemplate" type="text/template">
                                <td class="color-cell">
                                    <span class="cat-color" style="background:{{color}}"></span>
                                </td>
                                <td>
                                    {{#isDirect}}
                         <span title="Directly in this category" rel="tooltip"><i class="icon-info"></i>
                         </span>
                                    {{/isDirect}}
                                    {{category}}
                                </td>
                                <td class="cost">{{cost}}</td>
                            </script>
                        </div></div>
                    </div>
                </tab>

                <tab heading="Weekly" data-ng-click="weeklyCallDriverFunc()">
                    <div class="row">

                        <div class="chart-navigator clearfix" id="weeklychart-navigator-1" style="display: none;">

                            <div class="col-md-10">
                                <div  style="float: left">
                                    <a href="#" class="btn btn-small" id="btnRoot" title="Go back to root" rel="tooltip"><i
                                            class="fa fa-bars"></i>
                                    </a>
                                    <a href="#" class="btn btn-small" id="btnLevelUp" title="Go up one level" rel="tooltip"><i
                                            class="fa fa-reply-all"></i></a>
                                </div>

                                <ul class="breadcrumb"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 40px">
                        <!--class="hierarchical-pie"-->
                        <div class="col-md-6"><div class="weeklyhierarchical" ></div></div>
                        <div class="col-md-6"><div id="weeklypie-chart-legend-1">
                            <table class="table table-condensed table-legend">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Category</th>
                                    <th>Count</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr data_id="26" class="legend-row-26">
                                    <td class="color-cell">
                                        <span class="cat-color" style="background: #1f77b4;"></span>
                                    </td>
                                    <td>

                                    </td>
                                    <td class="cost"></td>
                                </tr>
                                </tbody>
                            </table>
                            <script id="rowTemplate" type="text/template">
                                <td class="color-cell">
                                    <span class="cat-color" style="background:{{color}}"></span>
                                </td>
                                <td>
                                    {{#isDirect}}
                         <span title="Directly in this category" rel="tooltip"><i class="icon-info"></i>
                         </span>
                                    {{/isDirect}}
                                    {{category}}
                                </td>
                                <td class="cost">{{cost}}</td>
                            </script>
                        </div></div>
                    </div>
                </tab>
                <tab heading="Monthly" data-ng-click="monthlyCallDriverFunc()">
                    <div class="row">

                        <div class="chart-navigator clearfix" id="monthlychart-navigator-1" style="display: none;">

                            <div class="col-md-10">
                                <div  style="float: left">
                                    <a href="#" class="btn btn-small" id="btnRoot" title="Go back to root" rel="tooltip"><i
                                            class="fa fa-bars"></i>
                                    </a>
                                    <a href="#" class="btn btn-small" id="btnLevelUp" title="Go up one level" rel="tooltip"><i
                                            class="fa fa-reply-all"></i></a>
                                </div>

                                <ul class="breadcrumb"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 40px">
                        <!--class="hierarchical-pie"-->
                        <div class="col-md-6"><div class="monthlyhierarchical" ></div></div>
                        <div class="col-md-6"><div id="monthlypie-chart-legend-1">
                            <table class="table table-condensed table-legend">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Category</th>
                                    <th>Count</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr data_id="26" class="legend-row-26">
                                    <td class="color-cell">
                                        <span class="cat-color" style="background: #1f77b4;"></span>
                                    </td>
                                    <td>

                                    </td>
                                    <td class="cost"></td>
                                </tr>

                                </tbody>
                            </table>
                            <script id="rowTemplate" type="text/template">
                                <td class="color-cell">
                                    <span class="cat-color" style="background:{{color}}"></span>
                                </td>
                                <td>
                                    {{#isDirect}}
                         <span title="Directly in this category" rel="tooltip"><i class="icon-info"></i>
                         </span>
                                    {{/isDirect}}
                                    {{category}}
                                </td>
                                <td class="cost">{{cost}}</td>
                            </script>
                        </div></div>
                    </div>
                </tab>
                <tab heading="Yearly" data-ng-click="yearCallDriverFunc()">

                    <div class="row">

                        <div class="chart-navigator clearfix" id="chart-navigator-1" style="display: none;">

                            <div class="col-md-10">
                               <div  style="float: left">
                                   <a href="#" class="btn btn-small" id="btnRoot" title="Go back to root" rel="tooltip"><i
                                           class="fa fa-bars"></i>
                                   </a>
                                   <a href="#" class="btn btn-small" id="btnLevelUp" title="Go up one level" rel="tooltip"><i
                                           class="fa fa-reply-all"></i></a>
                               </div>

                                <ul class="breadcrumb"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 40px">
                        <!--class="hierarchical-pie"-->
                        <div class="col-md-6"><div class="yearhierarchical" ></div></div>
                        <div class="col-md-6"><div id="pie-chart-legend-1">
                            <table class="table table-condensed table-legend">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Category</th>
                                    <th>Count</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr data_id="26" class="legend-row-26">
                                    <td class="color-cell">
                                        <span class="cat-color" style="background: #1f77b4;"></span>
                                    </td>
                                    <td>

                                    </td>
                                    <td class="cost"></td>
                                </tr>
                                </tbody>
                            </table>
                            <script id="rowTemplate" type="text/template">
                                <td class="color-cell">
                                    <span class="cat-color" style="background:{{color}}"></span>
                                </td>
                                <td>
                                    {{#isDirect}}
                         <span title="Directly in this category" rel="tooltip"><i class="icon-info"></i>
                         </span>
                                    {{/isDirect}}
                                    {{category}}
                                </td>
                                <td class="cost">{{cost}}</td>
                            </script>
                        </div></div>
                    </div>


                </tab>

            </tabset>
            <style>
                .tab-content{
                    background: #fff;
                }
            </style>
        </div>

        <div>

            <!-- Chart One -->




        </div>


    </div>
    <!-- /container -->


</div>


