<div class="jumbotron well">
 <div class="container">
 <div class="row well">
 <div class="col-lg-12">
 		<h2 class="textAlign"><b>Overall Sentiment Representation</b>&nbsp;<span class="label label-success">{{totalData}}</span></h2>
 </div>
 <div class="col-lg-6">
 	<div id="landingSentiments"></div>
 </div>
 <div class="col-lg-6">
 <div id="landingPolarity"></div>
 </div>
</div>

<!-- <div class="row">
<div class="col-lg-12">
	<div ng-include="'templates/callDrivers.html'"></div>
</div>
</div>
 -->

<div class="row well">
<div class="col-lg-12">
	<h2 class="textAlign"><b>Channel Wise Representation</b>&nbsp;</h2>
</div>
<!-- Col 1  -->
<div class="col-lg-4">
	<div class="row well">
	<div class="col-lg-12">
	<h2 class="textAlign"><b>Chat</b>&nbsp;<span class="label label-success">{{totalChat}}</span></h2>

	</div>
	<div class="col-lg-12">
		<div id="chatPolarity"></div>
	</div>	
	<div class="col-lg-12">
		<div id="chatSentiment"></div>
	</div>
	</div>	
</div>  <!-- Col 1  Ends-->

<!-- Col 2  -->
<div class="col-lg-4">
	<div class="row well">
	<div class="col-lg-12">
	<h2 class="textAlign"><b>E-Mail</b>&nbsp;<span class="label label-success">{{totalEmail}}</span></h2>

	</div>
	<div class="col-lg-12">
		<div id="emailPolarity"></div>
	</div>	
	<div class="col-lg-12">
		<div id="emailSentiment"></div>
	</div>
	</div>	
</div>  <!-- Col 2  Ends-->

<!-- Col 3  -->
<div class="col-lg-4">
	<div class="row well">
	<div class="col-lg-12">
		<h2 class="textAlign"><b>Voice</b>&nbsp;<span class="label label-success">{{totalVoice}}</span></h2>
	</div>
	<div class="col-lg-12">
		<div id="voicePolarity"></div>
	</div>	
	<div class="col-lg-12">
		<div id="voiceSentiment"></div>
	</div>
	</div>	
</div>  <!-- Col 3  Ends-->


</div>  <!-- Row Ends -->
<div class="row well">
<tabset justified="true">
<tab heading="Sentiment Wise Representation" >
    <div class="row">
        <div class="col-lg-12">
            <h2 class="textAlign"><b>Sentiment Wise Representation</b>
                &nbsp;<span class="label label-success">{{totalData}}</span></h2>
        </div>
        <div class="col-lg-3">
            <div id="weekDayAnger"></div>
        </div>
        <div class="col-lg-3">
            <div id="weekDayAnticipation"></div>
        </div>
        <div class="col-lg-3">
            <div id="weekDayDisgust"></div>
        </div>
        <div class="col-lg-3">
            <div id="weekDayFear"></div>
        </div>

        <div class="col-lg-3">
            <div id="weekDayJoy"></div>
        </div>
        <div class="col-lg-3">
            <div id="weekDayTrust"></div>
        </div>
        <div class="col-lg-3">
            <div id="weekDaySadness"></div>
        </div>
        <div class="col-lg-3">
            <div id="weekDaySurprise"></div>
        </div>
    </div>  <!-- ROw Ends -->
</tab>
<tab heading="Day Wise Representation" ng-click="loadDayWise()" >

    <div class="row">
        <div class="col-lg-12">
            <h2 class="textAlign"><b>Day Wise Representation</b>
                &nbsp;<!-- <span class="label label-success">{{totalData}}</span> --></h2>
        </div>
        <div class="col-lg-3">
            <div id="dayWise11"></div>
        </div>
        <div class="col-lg-3">
            <div id="dayWise15"></div>
        </div>
        <div class="col-lg-3">
            <div id="dayWise16"></div>
        </div>

        <div class="col-lg-3">
            <div id="dayWise14"></div>
        </div>
        <div class="col-lg-1"  >

        </div>
        <div class="col-lg-3"  >
            <div id="dayWise10"></div>
        </div>

        <div class="col-lg-3">
            <div id="dayWise12"></div>
        </div>
        <div class="col-lg-3">
            <div id="dayWise13"></div>
        </div>
        <div class="col-lg-1"  >

        </div>


    </div>  <!-- ROw Ends -->
</tab>
</tabset>
</div>
</div>  <!-- Container Ends -->
</div>  <!-- Jumbotron Ends -->


