
<div class="jumbotron well">


<tabset justified="false">
    <tab heading="Yesterday"  ng-controller="yesterdayCtrl" ng-click="loadYes()">
        <div ng-include="'templates/tabViews/yesterday.html'" scope=""  ng-cloak></div>
    </tab>

    <tab heading="Weekly" ng-controller="weeklyCtrl" ng-click="loadWeek()">
         <div ng-include="'templates/tabViews/weekly.html'" scope=""  ng-cloak></div>
    </tab>

    <tab heading="Monthly" ng-controller="monthlyCtrl" ng-click="loadMonth()">
        <div ng-include="'templates/tabViews/monthly.html'" scope="" n ng-cloak></div>
    </tab>

    <tab heading="Yearly" ng-controller="yearlyCtrl" ng-click="loadYear()">
	    <div ng-include="'templates/tabViews/yearly.html'" scope=""  ng-cloak></div>
    </tab>
</tabset>





</div>

