<style>
    .tooltopcharts .c3-xgrid-focus {
        display: none;
    }


    .tooltopcharts .d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 5px 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 4px;
        line-height: 15px;
        font-size: 12px;
        min-width: 91px;
    }

    .tooltopcharts .d3-tip .info {
        font-size: 11px;
        color: #8897b4
    display: block;
    }
</style>

<div class="jumbotron well">
    <div class="container">
        <div class="row paddingBottom">
            <div class="col-lg-4 ">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="Search for Audio Sentiments"
                           ng-change="doSearch(search)" ng-model="search">

                    <div ng-hide="errordata" style="  font-size: 11px;
  padding-left: 24px;
  color: red;">
                        * Not Found
                    </div>
            <span class="input-group-btn">
            <button class="btn btn-info" type="button" ng-click="searchAudio(search)">Go!</button>
          </span>
                </div>
            </div>
            <div class="col-lg-8 ">
                <div class="row am-fade-and-slide-bottom rowBorderPlayer" ng-show="isPlaying" style="background: #fff;border: 1px solid #C5BFBF;  padding: 1px 0 1px 0;border-radius: 3px;">
                    <div class="col-lg-1" style="padding-top: 4px;">



                        <button ng-show="showPause" class="btn btn-info" ng-click="pauseAudio()"><i
                                class="fa fa-pause fa-1x"></i></button>
                        <button ng-show="showPlay" class="btn btn-success" ng-click="playAudio()"><i
                                class="fa fa-play fa-1x"></i></button>

                    </div>
                    <div class="col-lg-11">
                        <table class="table table-striped" style="margin-bottom: 0;border: 1px solid #ddd;">
                            <tr>
                                <td style="padding: 0px 10px"><strong>Currently Playing : </strong></td>
                                <td style="padding: 0px 10px"><strong>Audio Text : </strong></td>

                            </tr>
                            <tr >
                                <td style="padding: 0px 10px">
                                    &nbsp;{{currentPlaying}}
                                </td>
                                <td style="padding: 0px 10px">  &nbsp;{{currentPlayingAudio}}</td>

                            </tr>
                        </table>


                    </div>

                </div>
            </div>
        </div>


        <div class="row well tooltopcharts" ng-show="isPlaying">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <p><strong>Sentiment Analysis For Audio ID</strong>&nbsp;{{sentAudioFileName}}</p>
                </div>

            </div>
            <div class="col-lg-6" >
                <div id="audioPolarity" style="height: 250px"></div>
            </div>
            <div class="col-lg-6" >
                <div id="audioSentiments" style="height: 250px"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">

                <table class="table table-bordered table-striped table-hover table-condensed">
                    <thead>
                    <tr>
                        <th><i class="fa fa-list-ol"></i>&nbsp;</th>
                        <th><i class="fa fa-music"></i>&nbsp;Audio Files Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="au in data.audio" style="height: 40px;">
                        <td>
                            <a href>
                                <b>{{$index}}.</b></a>
                        </td>

                        <td>
                            <a href ng-click="getPlay(au, $index);loadSummary(au);Workspaces[1].disableTab=false;" class="colorChange" >
                                <b>{{$index}}.&nbsp;{{au}}</b></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <blockquote>
                    <pre><b>{{audioResText}}</b></pre>
                </blockquote>
            </div>
        </div>
        <!-- Row Ends -->
    </div>


    <!-- Container Ends -->
</div> <!-- Jumbotron Ends -->

