<div class="jumbotron" style="  padding-top: 10px;">
    <div class="container">
        <div class="row">
            <h2><b>Speech To Text </b></h2>

            <tabset justified="false">

                <tab ng-repeat="tab1 in Workspaces" ng-click = "RenderFunction()" heading="{{tab1.title}}" disable="tab1.disableTab">

                    <div ng-include="tab1.TemplateUrl" > </div>

                </tab>
            </tabset>


            <style>
                .tab-content{
                    background: #fff;
                }
            </style>
                </div>
            <div>
        </div>


    </div>
    <!-- /container -->


</div>


