<nav class="navbar navbar-inverse navbar-static-top" >
<div class="container-fluid">
<div class="navbar-header">
<!--     <a  class="navbar-brand" href="#/"><i class="fa fa-list"></i></a>
-->    
 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
 </button>
<a class="navbar-brand" href="#/landing"><strong><b>KOHL'S</b></strong></a>
</div>


<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<!--  <li ng-class="{active: isActive('/')}"><a href="#/">Home</a></li> -->
<li role="presentation" ><a href="#/landing" ng-class="{ active: isActive('/landing')}"><strong>
<i class="fa fa-home"></i> Home</strong></a></li>
<li class="divider"></li>  
<li role="presentation" ><a href="#/sentiment" ng-class="{ active: isActive('/sentiment')}"><strong><i class="fa fa-heart"></i> Sentiment Analysis</strong></a></li>
<li class="divider"></li>  
<li role="presentation"><a href="#/callDrivers" ng-class="{active: isActive('/callDrivers')}"><strong><i class="fa fa-phone-square"></i> Call Drivers</strong></a></li>
<li class="divider"></li>
<li role="presentation"><a href="#/speechToText" ng-class="{active: isActive('/speechToText')}"><strong><i class="fa fa-file-audio-o"></i> Speech To Text</strong></a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li role="presentation"><a href ng-click="performLogOut()" ><strong><i class="fa fa-sign-out"></i> Logout <span class="caret">&nbsp;</span></strong></a></li>
</ul>
<!-- 
<ul class="nav navbar-nav navbar-right">
<li role="presentation"><a href ng-click="showFilter()" ><strong><i class="fa fa-filter"></i> Filter <span class="caret">&nbsp;</span></strong></a></li>
</ul> -->



</div>
</div>
</nav>





















