
<style>
    .panel-footer1 { font-size: 12px;}

    .text1 { margin-left:30px;font-size:14px;}
    .panel-group {
        margin-bottom: 8px;
    }
    .tooltip1 {
        position: relative;
    }

    .tooltip1 span {
        display: none;
    }

    .tooltip1:hover span, .tooltip1:focus span {
        display:block;
        position:absolute;
        z-index:99;
        top:0em;
        left:3.9em;
        padding: 0.2em 0.6em;
        border:1px solid #ccc;
        border-radius: 4px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        background-color:#fff;
        color:#000;
    }

   /* .panel-group a:after {
        content: '-';
        font-size: 23px;
        position: absolute;
        right: 20px;
        top: 8px;

    }
    .panel-group  a.collapsed:after {
        content: '+';
    }*/
    .seconditemtext{
        position: relative;
        top: -2px;
        border-top: 1px solid #2e6da4;
        border-right: solid 1px #2e6da4;
        border-radius: 2px;
        background: #39649D;
        color:white;
        font-size: 13px;
        padding: 6px;
        text-align: center;
        right: -2px;
    }
    .panel-group .panel-heading a:after {left:20px;  right: inherit!important;}
    .mail{ position: absolute;
        right: 10px;
        background:white;
        color:#333;
        height: 27px;
        top: 11px;
        line-height: 4px;
        border-radius: 4px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        padding: 11px;}
    .legenddummy1 {   padding: 0px 3px;background:#5CB85C;margin-left: 10px;}
    .legenddummy2 { padding: 0px 3px;background:#EC971F;margin-left: 10px;}
    .legenddummy3 { padding: 0px 3px;background:#c9302c;margin-left: 10px;}
    .mdalign {line-height: 31px;}

    .panel-group,
    .panel-group .panel,
    .panel-group .panel-heading,
    .panel-group .panel-heading a,
    .panel-group .panel-title,
    .panel-group .panel-title a,
    .panel-group .panel-body,
    .panel-group .panel-group .panel-heading + .panel-collapse > .panel-body  {
        border-radius:2px;
        border:0;
    }
    .panel-group .panel-heading + .panel-collapse > .panel-body {
        border-top: 0;
    }


    .panel-group .panel-heading {
        padding: 0;
    }
    .panel-group .panel-heading a {
        display: block;
        background: #337ab7;
        color:#fff;
        padding:15px;
        text-decoration:none;
        position: relative;
        text-align: left;
    }
    .panel-group .panel-heading a.collapsed {
        background: #337ab7;
        color:inherit;
    }

    .panel-group .panel-heading a:after {
        content: '-';
        position: absolute;
        right: 20px;
        border: 1px solid #fff;
        height:18px;
        width:18px;
        font-size:20px;
        line-height:16px;
        text-align:center;
    }
    .panel-group .panel-heading a.collapsed:after {
        content: '+';
    }
    .panel-group .panel-collapse {
        margin-top: -2px!important;
        margin-left: 2px;
    }
    .panel-group .panel-body  {
        background: #E8E8E8;
        padding: 9px;
        font-size: 12px;
        color:#3c3c3c;
    }
    .panel-group .panel {
        background-color: transparent;
    }

    .panel-group .panel-body p:last-child,
    .panel-group .panel-body  ul:last-child,
    .panel-group .panel-body  ol:last-child {
        margin-bottom: 0;
    }

</style>
<div class="jumbotron well" style="  padding: 0px;     background: none; border: none;">
    <div class="container">
        <div class="row">



        <div class="col-xs-12 imp">
            <div class="col-xs-3" style="padding: 0px;">

                <table class = "table table-bordered" style="margin-top:10px; font-size: 12px">


                    <tbody>
                    <tr >
                        <td class="col_border" style="background: #f5f5f5"><b> Name </b></td>
                        <td class="col_border"> Andy Rubin</td>
                    </tr>
                    <tr >
                        <td class="col_border" style="background: #f5f5f5"><b> Last Login </b></td>
                        <td class="col_border"> 23-Nov-2015 <br/>15:08:30</td>
                    </tr>
                    <tr >
                        <td class="col_border" style="background: #f5f5f5"><b> Days Since last Order </b></td>
                        <td class="col_border"> 62 <br/></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-5" >

                <table class = "table table-bordered" style="margin-top:10px; font-size: 12px">


                    <tbody>
                    <tr >
                        <td class="col_border" style="background: #f5f5f5"><b> Kohl's Loyalty Points-  Earned </b></td>
                        <td class="col_border"> 5218 pts </td>
                    </tr>
                    <tr >
                        <td class="col_border" style="background: #f5f5f5"><b> Kohl's Loyality Point - Burned </b></td>
                        <td class="col_border"> 2000 pts </td>
                    </tr>
                    <tr >
                        <td class="col_border" style="background: #f5f5f5"><b> Kohl's Loyalty Points Balance </b></td>
                        <td class="col_border"> 3218 pts<br/>Expiry : 21-Jan-2016 </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-xs-4" >

                <table class = "table table-bordered" style="margin-top:10px; font-size: 12px">


                    <tbody>

                    <tr >
                        <td class="col_border" style="background: #f5f5f5"><b> Kohl's Cash </b></td>
                        <td class="col_border"> 322 </td>
                    </tr>
                    <tr>
                        <td class="col_border" style="background: #f5f5f5"><b> Expiry </b></td>
                        <td class="col_border"> 1-Feb-2016 </td>
                    </tr>
                    <tr>
                        <td class="col_border" style="background: #f5f5f5"><b> Mail Sent </b></td>
                        <td class="col_border"> 20-Dec-2015<br/> </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>


            <div class="col-xs-12">
                <div class="col-xs-12 firstclass " >
                    <div class="col-xs-6 firstclass" style="    width: 49%;margin-right: 8px;" >
                        <h3 style="color: #3b5998; align-content: center; margin-left: 190px"> Analytics</h3>
                        <div style="height:215px;width:220px;  margin-top:25px;   margin: auto;">
                            <div id="funnel" style="height:172px;width:220px;" ></div>
                        </div>
                    </div>
                    <div class="col-xs-6 firstclass">
                        <h3 style="margin-left: 60px;color: #3b5998;">Cart History for Items - Current Year</h3>
                        <div  id="AmountUser" style=" margin-top: -35px; margin-left: 80px;"></div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12">
                <br/>
            </div>
            <div class="col-md-6">

            </div>

            <div class="col-xs-12">
            <div class="col-xs-6 firstclass" >
                <h5 style="margin-top: 4px;margin-left: 6px;">Latest Interactions</h5>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-primary">
                        <div class="panel-heading seconditemtext" role="tab" id="headingOne">
                            <span><a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span class="text1">Request For Return Order #OD332256 </span>
                                <span ng-click="loadmail()"  class="mail">Mail</span>
                            </a></span>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <span><strong>Date:</strong> 2014-03-11</span><br><span><strong>Items:</strong> Reebok Royal MT Cross, Flannel Casual Button-Down Shirt</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading seconditemtext" role="tab" id="headingTwo">
                            <span><a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                <span class="text1">Order Status for Order #OD11223 </span>
                                <span  class="mail">call</span>
                            </a></span>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <span><strong>Date:</strong> 2014-06-21</span><br><span><strong>Items:</strong>  Marvel Spiderman raglan</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading seconditemtext" role="tab" id="headingThree">
                            <span><a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                <span class="text1">Order Cancellation for Order #OD4223 </span>
                                <span ng-click="loadmail()"  class="mail">Mail</span>
                            </a></span>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <span><strong>Date:</strong> 2014-07-30</span><br><span><strong>Items:</strong> Marvel Superman raglan</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading seconditemtext" role="tab" id="headingFour">
                            <span><a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                <span class="text1">Request for Size Change for Order #OD5223</span>
                                <span ng-click="loadmail()"  class="mail">Mail</span>
                            </a></span>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <span><strong>Date:</strong> 2014-03-11</span><br><span><strong>Items:</strong> Super Soft Plush Throw</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading seconditemtext" role="tab" id="headingFive">
                            <span><a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                <span class="text1">Order Status for Order #OD9213</span>
                                <span  class="mail">Call</span>
                            </a></span>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <span><strong>Date:</strong> 2014-03-11</span><br><span><strong>Items:</strong> Minecraft Sprites Tee</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xs-5 firstclass" style="margin-left: 12px; background: #ffffff;width: 48%;" >
                <h5 style="margin-top: 4px;margin-left: 6px;">Last 5 items in cart</h5>

                <div class="col-xs-12 firsttoptext" >
                    <div class="col-xs-8 mdalign " style="margin-top: 4px; color: #fff;padding-left: 9px;">Reebok Royal MT Cross</div>
                    <div class="col-xs-4 firstitemtext" style="background: #fff ;padding: 0px;">
                        <table class="table-bordered" style="align-content: center ;width: 100%;  text-align: center;">
                                <tr>
                                    <th style="text-align: center;">Qty </th>
                                    <th style="text-align: center;">$</th>
                                    <th style="text-align: center;">Status</th>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>120.99</td>
                                    <td style="background-color: #5cb85c;border-color: #4cae4c;"class="tooltip1"><span>Bought</span><i class="fa fa-check" style="color: #fff" onmouseover=""></i></td>
                                </tr>

                        </table>
                    </div>
                </div>


                <div class="col-xs-12 firsttoptext" >
                    <div class="col-xs-8  " style="margin-top: 4px; color: #fff;padding-left: 9px;">Flannel Casual Button-Down Shirt</div>
                    <div class="col-xs-4 firstitemtext" style="background: #fff ;padding: 0px;">
                        <table class="table-bordered" style="align-content: center ;width: 100%;  text-align: center;">
                            <tr>
                                <th style="text-align: center;">Qty </th>
                                <th style="text-align: center;">$</th>
                                <th style="text-align: center;">Status</th>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>142.99</td>
                                <td style="background-color: #c9302c;border-color: #ac2925;" class="tooltip1"><span>Abandoned</span><i class="fa fa-times" style="color: #fff" ></i></td>
                            </tr>
                        </table>
                    </div>
                </div>


                <div class="col-xs-12 firsttoptext" >
                    <div class="col-xs-8  " style="margin-top: 4px; color: #fff;padding-left: 9px;">Marvel Spider-Man Raglan </div>
                    <div class="col-xs-4 firstitemtext" style="background: #fff ;padding: 0px;">
                        <table class="table-bordered" style="align-content: center ;width: 100%;  text-align: center;">
                            <tr>
                                <th style="text-align: center;">Qty </th>
                                <th style="text-align: center;">$</th>
                                <th style="text-align: center;">Status</th>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>120.33</td>
                                <td style="background-color: #ec971f; border-color: #d58512;" class="tooltip1"><span>In-cart</span>
                                    <i class="fa fa-cart-plus" style="color: #fff" onmouseover=""></i>
                                        </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-xs-12 firsttoptext" >
                    <div class="col-xs-8  " style="margin-top: 4px; color: #fff;padding-left: 9px;">Minecraft Sprites Tee</div>
                    <div class="col-xs-4 firstitemtext" style="background: #fff ;padding: 0px;">
                        <table class="table-bordered" style="align-content: center ;width: 100%;  text-align: center;">
                            <tr>
                                <th style="text-align: center;">Qty </th>
                                <th style="text-align: center;">$</th>
                                <th style="text-align: center;">Status</th>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>160.99</td>
                                <td style="background-color: #5cb85c;border-color: #4cae4c;" class="tooltip1"><span>Bought</span><i class="fa fa-check" style="color: #fff" onmouseover=""></i></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-xs-12 firsttoptext" >
                    <div class="col-xs-8  " style="margin-top: 4px; color: #fff;padding-left: 9px;">Super Soft Plush Throw</div>
                    <div class="col-xs-4 firstitemtext" style="background: #fff ;padding: 0px;">
                        <table class="table-bordered" style="align-content: center ;width: 100%;  text-align: center;">
                            <tr>
                                <th style="text-align: center;">Qty </th>
                                <th style="text-align: center;">$</th>
                                <th style="text-align: center;">Status</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>122.39</td>
                                <td style="background-color: #c9302c;border-color: #ac2925;"class="tooltip1"><span>Abandoned</span><i class="fa fa-times" style="color: #fff" onmouseover=""></i></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 panel-footer1" style="margin-top: 10px;">
                    <span class="legenddummy1">&nbsp;&nbsp;</span><span>&nbsp;Bought</span>
                    <span class="legenddummy2">&nbsp;&nbsp;</span><span>&nbsp;In cart</span>
                    <span class="legenddummy3">&nbsp;&nbsp;</span><span>&nbsp;Abandoned</span>
                </div>
            </div>
        </div>
        </div>
    </div>

</div>


<script>

</script>



