<!DOCTYPE html>
<html>
<head>
	<title>Sentiments Analysis</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
 <link rel="stylesheet" href="plugins/bootstrap-3.3.4/css/bootstrap.min.css" />
<!-- 
 <link rel="stylesheet" href="plugins/bootstrap-3.3.4/css/bootstrap-theme.min.css" >
 --> 
<link rel="stylesheet" href="plugins/font-awesome-4.3.0/css/font-awesome.min.css" />
<!-- Change Theme -->
<!--   <link rel="stylesheet" href="plugins/bootstrap.paper.min.css" />   -->
<link rel="stylesheet" href="style/init.css" /> 
<link rel="stylesheet" href="style/ngAnim.css" /> 
<link rel="stylesheet" href="modals/loginPopUp/login.css" /> 
<link rel="stylesheet" href="plugins/c3-0.4.10/c3.min.css" /> 
<link rel="stylesheet" href="plugins/angular-motion-master/dist/angular-motion.min.css" /> 
<link rel="stylesheet" href="plugins/bootstrap-additions-master/dist/bootstrap-additions.min.css" /> 
<link rel="stylesheet" href="plugins/angular-aside-master/dist/css/angular-aside.min.css" /> 
<link href="plugins/vendor/prettify/prettify.css" rel="stylesheet">
<link href="plugins/vendor/style.css" rel="stylesheet">
<body  ng-controller="globalCtrl" ng-app="myApp" >
<div class="container" ng-show="!hideLoader" >
<h2><i class="fa fa-cloud-download fa-4x  am-slide-left"></i>.....Loading.....<i class="fa fa-laptop fa-4x"></i></h2>
</div>
<!-- 
<div class="container containerPadding" ng-cloak="" ng-show="showTable">
 BackUp
<div  ng-show="hideTopMenu" class="am-slide-left" ng-include="'templates/topMenuContent.html'"></div>
 -->
<div  ng-show="hideTopMenu"  ng-include="'templates/topMenuContent.html'"></div>
<div   class="container" ng-cloak="" ng-show="hideLoader">
<!-- Create Left Floating Element -->
<div ng-show="alertShow">
<span type="{{alertType}}" >{{alertMessage}} </span>
</div>
<div class="am-slide-left" ng-view ></div>
</div>
<div class="col-lg-4">
<audio  id="audioPlayer" src="" autoplay></audio>
</div>
<!-- AngularJS -->
<script src="plugins/angular/angular.min.js" ></script>
<script src="plugins/angular/angular-route.min.js" ></script>
<script src="plugins/angular/angular-animate.min.js" ></script>
<!-- Init File -->
<script src="init.js" ></script>
<!-- ADD Directive And Controllers-->
<script src="controllers/globalCtrl.js" ></script>
<script src="controllers/landingCtrl.js" ></script>
<script src="controllers/sentimentCtrl.js" ></script>
<script src="controllers/callDriversCtrl.js" ></script>
<script src="controllers/speechToTextCtrl.js" ></script>
<script src="controllers/yesterdayCtrl.js" ></script>
<script src="controllers/weeklyCtrl.js" ></script>
<script src="controllers/monthlyCtrl.js" ></script>
<script src="controllers/yearlyCtrl.js" ></script>
<script src="controllers/dayWiseCtrl.js" ></script>
<script src="controllers/sentiDayCtrl.js" ></script>


<!-- Jquery-->
<script src="plugins/jquery-1.11.3.min.js" ></script>
<script src="plugins/bootstrap-3.3.4/js/bootstrap.min.js" ></script>

<!-- Bootstrap -->
<!-- UI.Bootstrap ANGULARJS -->
<script src="plugins/ui.bootstrap/ui-bootstrap-tpls-0.13.0.min.js"></script>

<script src="modals/loginPopUp/loginCtrl.js"></script>
<script src="modals/promptPopUp/promptPopUpCtrl.js"></script>
<script src="modals/loader/loaderCtrl.js"></script>
<script src="modals/aside/asideMenuCtrl.js"></script>
<script src="modals/drillDown/drillDownCtrl.js"></script>
<!-- Services -->
<script src="services/sentimentServices.js"></script>
<script src="services/sentimentServicesAvg.js"></script>
<script src="services/topicServices.js"></script>
<script src="services/callDriversServices.js"></script>
<script src="services/authenticationServices.js"></script>
<script src="services/speectToTextService.js"></script>


<!-- Add Support For Ng tablle -->
<script src="plugins/Smart-Table/dist/smart-table.js"></script>
<!-- Add D3 -->
<script src="plugins/d3-master/d3.js"></script>

<!-- Add Support For C3 Charts -->
<script src="plugins/c3-0.4.10/c3.min.js"></script>
<!-- C3 Angularjs -->
<script src="plugins/c3-angular-directive-0.3.1/c3-angular.min.js"></script>
<!-- C3 Jquery Custom Plugins -->
<script src="plugins/c3Plugins.js"></script>
<script src="plugins/dataParser.js"></script>
<!-- Directives -->
<script src="directive/loaderDirective.js"></script>
<!-- Angular Slide Plugin Aside -->
<script src="plugins/angular-aside-master/dist/js/angular-aside.min.js"></script>
<script src="plugins/d3-master/d3-funnel.js"></script>


<!-- Socket.IO -->
<script src="plugins/socket.io-client-master/socket.io.js"></script>

<!-- hierarchical Pie Chart -->
<!-- <script src="plugins/d3-hierarchical-pie-master/hierarchical-pie.js"></script>
<script src="plugins/d3-hierarchical-pie-master/mustache.js"></script> -->

<script src="plugins/vendor/mustache.js"></script>
<script src="plugins/vendor/prettify/prettify.js"></script>
<script src="plugins/vendor/hierarchical-pie.js"></script>
<script>


</script>
</body>

</html>

