<style>
    .cross{
        float: right;
        margin-top: 12px;
        font-size: 20px;
        margin-right: 20px;
    }
</style>

<div>
    <a href="" ng-click="hideModal()" class="cross">X</a>
    <img src="images/mailpdf.png" style="margin-top:34px;width:80%;Height:80%;"/>
</div>