<div class="container">
<div class="row">
<div class="col-lg-12">
<h1><span class="label label-danger">{{ErrorText}}</span></h1>

 <h3><a href ng-click="hideModal()">Go Back</a></h3>   
</div>
</div>
</div>